.fcolor-dark {
  	color: #fff;
    background: #370444;
}

.fcolor-background {
    background: #6f2b80;
}

.fcolor-header {
    background: #4e1e5a;
}

.fcolor-light {
    background: #dbb3e6;
}

.fcolor-near-white {
    background: #f6ecf9;
}

/* Loader */

.loader {
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #4e1e5a; /* fcolor-header */
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
